fastapi
uvicorn
python-dotenv
langchain
langchain-text-splitters
langchain-community
langchain-groq
chromadb
pypdf
unstructured
python-docx
pandas
openpyxl
xlrd
sentence-transformers
python-multipart
