fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

chromadb
fastembed

pypdf
unstructured
python-docx

pandas
openpyxl
xlrd

groq