fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

sentence-transformers
qdrant-client
supabase
redis
rq

pypdf
unstructured
python-docx

pandas
openpyxl
xlrd

groq
psutil
pytest
httpx
